body {
    background-color:#F8F8F8;
    color:#333;
    margin:0;
}
/*
hr {
    margin:1.5em;
    border:none;
    border-top:1px solid #DDD;
}
选择一种 hr 效果。
去掉注释的同时请把下面 2 个规则进行注释。
*/
hr {
    color:#DDD;
    border:none;
    text-align:center;
    font-family:sans-serif;
}
hr:before {
    content:"- - -";
}
a {
    color:inherit;
    text-decoration:none;
    border-bottom:1px solid #DDD;
}
input, button {
    display:block;
    margin:2em 0;
    line-height:2em;
    padding:0.2em 0;
    border:none;
    border-bottom:1px solid #DDD;
    background-color:inherit;
    width:100%;
    text-align:center;
    color:#333;
    outline:none;
    transition-duration:.3s;
        -webkit-transition-duration:.3s;
            -moz-transition-duration:.3s;
}
input[type=submit], button {
    background-color:#CCC;
    line-height:3em;
    border:none;
    cursor:pointer;
    border-radius:15px;
}
input[type=submit]:hover, button:hover {
    background-color:#DDD;
}
input[disabled] {
    cursor:not-allowed;
    background-color:#EEE;
}
textarea, #for-textarea {
    box-sizing:border-box;
        -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
    width:100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
    background-color:transparent;
    min-height:12em;
    overflow:auto;
}
#for-textarea {
    display:none;
    min-height:10em;
}

.font-kai {
    font-family:"AR PL UKai CN","AR PL UKai HK","AR PL UKai TW","AR PL UKai TW MBE","AR PL KaitiM GB","TW\-Kai","KaiTi","KaiTi_GB2312","STKaiti";
}
.pull-center {
    text-align:center;
}
.pull-right {
    text-align:right;
}
.base-container, #base-container {
    margin:3em auto 0;
    padding:0 2%;
    width:96%;
    max-width:800px;
}
