.base-container {
    max-width:400px;
}
ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:block;
    line-height:3.5em;
}
label {
    display:inline-block;
    width:25%;  /* 100px */
}
input[type=text], input[type=password] {
    display:inline-block;
    width:75%;  /* 300px */
    margin:0;
    text-align:left;
}