ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
li {
    display:block;
}
textarea, #for-textarea {
    font-size:1em;
    line-height:1.5em;
    color:#333;
}
#for-textarea {
    padding:0 2%;
    width:96%;
    max-width:800px;
    /*
     * 保证宽度和 textarea 一致
     * 因为在 $().height() 时会加上 position:absolute
     * 所以必须硬性规定宽度，否则 $().height() 有时会取不到想要的结果
     * http://stackoverflow.com/a/3632290
    */
}
input[type=submit], button {
    font-size:1em;
    margin:0.5em auto;
    padding:0;
    height:3em;
    line-height:3em;
    width:100%;
    max-width:300px;
}